@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}
body{
    font-size: 16px;
    /*background-color: #000000;*/
    background-image: url(../assets/img/fondorep.jpg);
    background-repeat: repeat;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0vh 5vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 58%, #dfd4d437 100%);
    backdrop-filter: blur(2vh);
    nav{
        display: flex;
        justify-content: space-between;
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin-right: 6vh;
                a{
                    font-size: 1.5em;
                    text-decoration: none;
                    color: #e9bf8f;
                }
                .iconos{
                    display: none;
                }
            }
        }
        .fa-envelope{
            font-size: 1.4em;
            color: white;
        }
        .fa-cart-shopping{
            font-size: 1.4em;
            color: yellow;
        }
    }
    .logo{
        height: 22vh;
    }
}
main{
    .sectionTitulo{
        padding: 5vh;
        text-align: center;
        font-size: 1.5em;
        color: #adabab;
        p{
            padding: 20px;
            font-size: 1.5rem;
        }
        img{
            height: 25vh;
        }
    }
    .titulo{
        font-family: "Protest Strike", sans-serif;
        font-size: 2em;
        color: #ff0000;
    }
    .secRepTitulo{
        text-align: center;
        color: #adabab;
        h2{
            padding: 5vh;
            font-size: 2em;
            text-align: center;
            color: #ff0000;
        }
        img{
            padding-top: 3vh;
            height: 30vh;
        }
        .ofertas{
            padding: 0 10vh 10vh 10vh;
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .marcasSec{
        /*width: 100%;
        background-image: url(../assets/img/repuestos2.jpg);
        background-size: cover;
        background-position: center;*/
        h2{
            font-size: 3em;
            color: #ff0000;
            text-align: center;
        }
        p{
            font-size: 1.5rem;
            color: rgb(255, 255, 255);
            text-align: center;
            /*backdrop-filter: blur(5px);*/
        }
        .marcas{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .marcasImg{
            width: 35vh;
        }
    }
    .accesoriosSec{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh;
        /*width: 100%;
        background-image: url(../assets/img/fondo2.jpg);
        background-size:cover;
        background-position: left;*/
        h2{
            font-size: 3em;
            color: #ff0000;
            text-align: center;
        }
        img{
            width: 35vh;
        }
        p{
            font-size: 1.5rem;
            color: white;
            text-align: center;
            /*backdrop-filter: blur(5px);*/
        }
    }
    .ofertasSec{
        h2{
            font-size: 3em;
            color: #ff0000;
            text-align: center;
            padding: 0 5vh 5vh 5vh;
        }
        .ofertas{
            padding: 0 10vh 10vh 10vh;
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5vh 2.5vh;
        margin-bottom: 3vh;
        /*background-color: blue;*/
        width: 35vh;
        height: 70vh;
        box-shadow: 1px 2px 24px 10px rgba(255,255,255,0.75);
        -webkit-box-shadow: 1px 2px 24px 10px rgba(255,255,255,0.75);
        -moz-box-shadow: 1px 2px 24px 10px rgba(255,255,255,0.75);
        border-top-left-radius: 5vh;
        border-top-right-radius: 5vh;
        border-bottom-left-radius: 5vh;
        border-bottom-right-radius: 5vh;
        img{
            height: 40vh;
            border-top-left-radius: 5vh;
            border-top-right-radius: 5vh;
            border-bottom-left-radius: 5vh;
            border-bottom-right-radius: 5vh;
            width: 100%;
            height: 70%;
            /*object-fit: cover;*/
        }
        h3{
            font-size: 0.8em;
            color: white;
            text-align: center;
        }
        p{
            font-size: 2em;
            color: rgb(240, 65, 65);
            text-align: center;
            padding-bottom: 1vh;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25vh;
            height: 7vh;
            background-color: #00da1d;
            border: solid 1vh #20f03c;
            border-top-left-radius: 2.5vh;
            border-bottom-right-radius: 2.5vh;
            text-decoration: none;
            font-size: 1.2em;
            color: rgb(255, 255, 255);
            span{
                font-size: 1.2em;
            }
        }
    }
    .formulario{
        font-size: 1em;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .divForm{
        width: 50%;
        h2{
            padding: 2vh;
            font-size: 2.5em;
            color: #ff0000;
            text-align: center;
        }
    }
    .formCont{
        display: flex;
        justify-content:space-between;
    }
    .item:hover{
        width: 36vh;
        transition: 1s ease;
    }
}
footer{
    display: flex;
    justify-content: space-between;
    background: #000000;
    padding: 20px 80px;
    font-size: 1em;
    h3{
        color: #ff0000;
    }
    nav{
        font-size: 1em;
        ul{
            list-style: none;
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    address{
        padding-top: 1vh;
        color: white;
    }
    .centradoFlex{
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .logo{
        height: 18vh;
    }
    .redes{
        a{
            color: white;
            font-size: 2em;
            margin-left: 10px;
        }
        .fa-circle-chevron-up{
            backdrop-filter: blur(5px);
            position: fixed;
            right: 2vh;
            bottom: 2vh;
            font-size: 1.3em;
            color: #ff4646;
        }
        .fa-whatsapp{
            backdrop-filter: blur(5px);
            position: fixed;
            right: 2vh;
            bottom: 10vh;
            font-size: 1.5em;
            color: #20f03c;
        }
    }
}
@media screen and (max-width:767px){
    header{
        position:relative;
        padding: 0vh 1vh;
        padding-top: 1vh;
        background: rgb(0,0,0);
        nav{
            ul{
                li{
                    margin-right: 1.2vh;
                    .mostrarLink{
                        display: none;
                    }
                    .iconos{
                        color: white;
                        display: inline-block;
                        font-size: 1.4em;
                    }
                }
            }
        }
        .logo{
            height: 12vh;
        }
    }
    main{
        .sectionTitulo{
            padding: 1vh;
            font-size: 1em;
            p{
                padding-top: 3vh;
                font-size: 1rem;
            }
            img{
                height: 11vh;
            }
        }
        .titulo{
            font-size: 1.6em;
        }
        .secRepTitulo{
            h2{
                padding: 0.2vh;
                padding-bottom: 4vh;
                font-size: 5vh;
            }
            img{
                padding-top: 1vh;
                height: 15vh;
            }
            .ofertas{
                padding: 0;
            }
        }
        .marcasSec{
            h2{
                font-size: 1.6em;
            }
            p{
                font-size: 1.2rem;
                color: rgb(255, 255, 255);
                text-align: center;
                /*backdrop-filter: blur(5px);*/
            }
            .marcas{
                flex-wrap: wrap;
            }
            .marcasImg{
                width: 20vh;
            }
        }
        .accesoriosSec{
            padding: 1vh;
            padding-top: 3vh;
            h2{
                font-size: 1.6em;
            }
            img{
                width: 20vh;
            }
            p{
                font-size: 1rem;
            }
        }
        .ofertasSec{
            h2{
                font-size: 1.6em;
                padding-top: 3vh;
            }
            .ofertas{
                padding: 0;
            }
        }
        .item{
            width: 20vh;
            height: 50vh;
            img{
                height: 40vh;
                border-top-left-radius: 5vh;
                border-top-right-radius: 5vh;
                border-bottom-left-radius: 5vh;
                border-bottom-right-radius: 5vh;
                width: 100%;
                height: 70%;
                /*object-fit: cover;*/
            }
            p{
                font-size: 1.5em;
            }
            a{
                width: 18vh;
                height: 5vh;
                font-size: 1em;
                span{
                font-size: 1em;
            }
            }
        }
        .divForm{
            width: 100%;
            padding-bottom: 2vh;
            h2{
                padding-top: 2vh;
                font-size: 1.6em;
            }
        }
        .formCont{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    footer{
        flex-direction: column;
        align-items: center;
        nav{
            display: none;
            }
        address{
            padding-top: 1vh;
            text-align: center;
        }
        .centradoFlex{
            font-size: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .logo{
            height: 15vh;
        }
        .redes{
            a{
                color: white;
                font-size: 2em;
                margin-left: 10px;
            }
            .fa-circle-chevron-up{
                bottom: 2vh;
                font-size: 1em;
            }
            .fa-whatsapp{
                bottom: 8vh;
                font-size: 1.3em;
            }
        }
    }
}

